:root {
  --bg: #333;
  --light: #fff;
  --highlight: #8db27a;
  /* --accent: #cfcfcf; */
  --accent: #cccccc;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: 62.5%; /* 1rem = 10px */
}

body {
  font-size: 1.6rem;
  font-family: "Roboto", sans-serif;
  color: var(--highlight);
  background: var(--bg);
}

.container {
  margin: 0 auto;
  width: 75%;
}

/******************************************
/* Mobile
/*******************************************/
@media screen and (max-width: 579px) and (min-height: 579px) {
  .container {
    width: 95%;
  }
}

/******************************************
/* Tablet
/*******************************************/
@media (min-width: 580px) and (max-width: 850px) {
  .container {
    width: 85%;
  }
}

/******************************************
/* Small PC
/*******************************************/
@media (min-width: 851px) and (max-width: 1024px) {
  .container {
    width: 85%;
  }
}
